@model IEnumerable<Main.Models.DepartmentModels.Core>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spec.SpecName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
