@model Main.Areas.Teacher.Models.Courses.courseCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>courseCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseCategory_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseCategory_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseCategory_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseCategory_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseCategory_Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseCategory_Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseCategory_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseCategory_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.core)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.core.CoreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.courseCategory_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
