@model IEnumerable<Main.Areas.Teacher.Models.Courses.courseCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="courseCategories" asp-area="Teacher" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courseCategory_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseCategory_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseCategory_Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseCategory_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.core)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courseCategory_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseCategory_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseCategory_Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseCategory_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.core.CoreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.courseCategory_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.courseCategory_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.courseCategory_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
