@model IEnumerable<Main.Models.TeacherModels.Course>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1 class="Title">Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img width="150px" src="@Url.Content(item.CourseImg)" />
                </td>
                <td>
                    <a asp-area="Tutor" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-area="Tutor" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>|
                    <a asp-area="Tutor" asp-action="Details" asp-route-id="@item.CourseId">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
