@model IEnumerable<MusicEquipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="contents" style="padding-top: 13px;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" >

                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Music Cards</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard"><i class="uil uil-estate"></i>Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Music Equipment Cards</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <div class="row" style="padding-left: 30px;">
                    <a class="btn btn-white btn-default btn-squared btn-shadow-white " asp-action="Create" asp-controller="MusicEquipments" class=""><img src="~/img/svg/layers.svg" alt="layers" class="svg">Add More</a>
                </div>
                <br />
                <div class="row">
                    @foreach(var item in Model)
                    {
                                          
                        <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                            <div class="feature-cards">
                                <figure class="feature-cards__figure">
                                    <img src="@Url.Content(item.Img)" alt="">
                                    <figcaption>
                                        <h4>@item.Name</h4>
                                        <p>
                                            @item.About_It
                                            <br>
                                            <span>
                                                $@item.Price
                                            </span>
                                        </p>
                                        <a asp-area="Admin" asp-action="ViewProduct" asp-controller="MusicEquipments" asp-route-id="@item.Id" class="btn-md btn">View More</a>
                                        <a asp-area="Admin" asp-action="Edit" asp-controller="MusicEquipments" asp-route-id="@item.Id" class="btn-md btn">Edit</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    }

                </div>

            </div>

        </div>
    </div>

</div>