@model MusicEquipment

    <form action="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-breadcrumb">

                    <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">Product Details</h4>
                        <div class="breadcrumb-action justify-content-center flex-wrap">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="products mb-30">
        <div class="container-fluid">
            <!-- Start: Card -->
            <div class="card product-details h-100 border-0">
                <div class="product-item d-flex p-sm-50 p-20">
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Start: Product Slider -->
                            <div class="product-item__image">
                                <div class="wrap-gallery-article carousel slide carousel-fade" id="carouselExampleCaptions" data-bs-ride="carousel">
                                    <div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="img-fluid d-flex bg-opacity-primary " src="@Url.Content(Model.Img)" alt="Card image cap" title="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Product Slider -->
                        </div>
                        <div class=" col-lg-7">
                            <!-- Start: Product Details -->
                            <div class=" b-normal-b mb-25 pb-sm-35 pb-15 mt-lg-0 mt-15">
                                <div class="product-item__body">
                                    <!-- Start: Product Title -->
                                    <div class="product-item__title">
                                        <a href="#">
                                            <h1 class="card-title">
                                                @Model.Name
                                            </h1>
                                        </a>
                                    </div>
                                    <!-- End: Product Title -->
                                    <div class="product-item__content text-capitalize">
                                       
                                        <span class="product-desc-price">
                                            <sub>$</sub> @Model.Price
                                        </span>
                    
                                        <p class=" product-deatils-pera">
                                            @Model.About_It
                                        </p>
                                  
                                        <div class="product-item__button mt-lg-30 mt-sm-25 mt-20 d-flex flex-wrap">
                                            <div class=" d-flex flex-wrap product-item__action align-items-center">
                                                <button class="btn btn-primary btn-default btn-squared border-0 me-10 my-sm-0 my-2">
                                                    buy
                                                    now
                                                </button>
                                                <button class="btn btn-secondary btn-default btn-squared border-0 px-25 my-sm-0 my-2 me-10">
                                                    <img src="~/img/svg/shopping-bag.svg" alt="shopping-bag" class="svg">
                                                    Add To Cart
                                                </button>

                                            </div>
                                        </div>
                                        <!-- End: Product Selections -->
                                    </div>
                                </div>
                            </div>
                            <!-- Start: Product Availability -->
                            <div class="product-details__availability">
                                <div class="title">
                                    <p>Category:</p>
                                    <span class="free">@Model.Category.categoryName</span>
                                </div>

                            </div>
                            <!-- End: Product Availability -->
                            <!-- End: Product Details -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Card -->
        </div>

    </div>
  </form>
