@model Galaxy.Core.Models.Guide.GuideEquipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GuideEquipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipmentImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipmentImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipmentColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipmentColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipmentBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipmentBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hidden)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.equipmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
