@model IEnumerable<Galaxy.Core.Models.AdminSite.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.equipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipmentImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipmentColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipmentBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hidden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.equipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.equipmentImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.equipmentColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.equipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.equipmentBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hidden)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.equipmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.equipmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.equipmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
